<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Personagem - Gaia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/content1.css">
    <link rel="stylesheet" href="/css/content2.css">
    <link rel="stylesheet" href="/css/content3.css">
    <link rel="stylesheet" href="/css/modal.css">
    
    
</head>
<body>
    <div class="mainContainer">
        <h1>Ficha de Personagem - Gaia: O Prelúdio</h1>
        <!-- content1 Seção de informações básicas, vida, energia e defesa -->
        <div class="content1">
            <div class="content1-coluna1">
                <div class="basic-info-section">
                    <div class="coluna">
                        <h2>informações</h2>
                        <div class="coluna-info">
                            <div class="coluna">
                                <div class="campo">
                                    <label for="jogador">Jogador</label>
                                    <input type="text" id="jogador" name="jogador">
                                </div>
                                <div class="campo">
                                    <label for="personagem">Personagem</label>
                                    <input type="text" id="personagem" name="personagem">
                                </div>
                                <div class="campo">
                                    <label for="legado">Legado</label>
                                    <select id="legado" name="legado">
                                        
                                    </select>
                                </div>
                                <div class="campo">
                                    <label for="nivel">Nível</label>
                                    <input type="text" id="nivel" name="nivel">
                                </div>
                            </div>
                            
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="content1-coluna2">
                <div style="display: grid; grid-template-columns: repeat(2,1fr);">
                    <div class="health-section">
                            <div class="coluna">
                                <h2>Vida</h2>
                                <div class="coluna-health">
                                    <div class="health-atual">
                                        <div class="campo">
                                            <label for="pv">Atual</label>
                                            <input type="text" id="pv" name="pv">
                                        </div>
                                        <div class="campo">
                                            <label for="pv_max">Máxima</label>
                                            <input type="text" id="pv_max" name="pv_max">
                                        </div>
                                    </div> 
                                        <div class="campo">
                                            <label for="pv">Temporária</label>
                                            <input type="text" id="pv_tp" name="pv_tp">
                                        </div>
                                </div>
                            </div>
                    </div>
                    <div class="energy-section">
                        <div class="coluna">
                            <h2>Energia</h2>
                            <div class="coluna-energy">
                                <div class="energy-atual">
                                    <div class="campo">
                                        <label for="pe">Atual</label>
                                        <input type="text" id="pe" name="pe">
                                    </div>
                                    <div class="campo">
                                        <label for="pe_max">Máximo</label>
                                        <input type="text" id="pe_max" name="pe_max">
                                    </div>
                                </div>
                                <div class="campo">
                                    <label for="exaustao">Exaustão</label>
                                    <div class="selects">
                                        <select id="exaustao" name="exaustao"></select>
                                    </div>
                                </div>  
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="defense-section">
                    <div class="coluna">
                        <h2>Defesa</h2>
                        <div class="coluna-defense">
                            <div class="campo">
                                <label for="desvio">Desvio</label>
                                <input type="text" id="desvio" name="desvio">
                            </div>
                            <div class="campo">
                                <label for="bloqueio">Bloqueio</label>
                                <input type="text" id="bloqueio" name="bloqueio">
                            </div>
                            <div class="campo">
                                <label for="velocidade">Velocidade</label>
                                <input type="text" id="velocidade" name="velocidade">
                            </div>
                        </div>
                    </div>   
                </div> 
            </div> 
            <div class="content1-coluna3">
                <h2>Parâmetros</h2>
                <div class="attributes">
                    <div class="selects">
                        <div class="coluna">
                            <label for="precisao">Precisão</label>
                            <div class="campo-atributo">
                                <select id="precisao" name="precisao"></select>
                                <span id="teste-precisao" name="teste-precisao">0</span>
                            </div>
                
                            <label for="brutalidade">Brutalidade</label>
                            <div class="campo-atributo">
                                <select id="brutalidade" name="brutalidade"></select>
                                <span id="teste-brutalidade">0</span>
                            </div>
                
                            <label for="destreza">Destreza</label>
                            <div class="campo-atributo">
                                <select id="destreza" name="destreza"></select>
                                <span id="teste-destreza">0</span>
                            </div>
                
                            <label for="agilidade">Agilidade</label>
                            <div class="campo-atributo">
                                <select id="agilidade" name="agilidade"></select>
                                <span id="teste-agilidade">0</span>
                            </div>
                        </div>
                
                        <div class="coluna">
                            <label for="canalizacao">Canalização</label>
                            <div class="campo-atributo">
                                <select id="canalizacao" name="canalizacao"></select>
                                <span id="teste-canalizacao">0</span>
                            </div>
                
                            <label for="arcanismo">Arcanismo</label>
                            <div class="campo-atributo">
                                <select id="arcanismo" name="arcanismo"></select>
                                <span id="teste-arcanismo">0</span>
                            </div>
                
                            <label for="vigor">Vigor</label>
                            <div class="campo-atributo">
                                <select id="vigor" name="vigor"></select>
                                <span id="teste-vigor">0</span>
                            </div>
                
                            <label for="espirito">Espírito</label>
                            <div class="campo-atributo">
                                <select id="espirito" name="espirito"></select>
                                <span id="teste-espirito">0</span>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
            <div class="content1-coluna4">
                <div class="knowledge-section">
                    <h2>Conhecimentos</h2>
                    <div class="selects">
                        <div class="coluna">
                            <label for="carisma">Carisma</label>
                            <div class="campo-atributo">
                                <select id="carisma" name="carisma"></select>
                                <span id="teste-carisma">0</span>
                            </div>
                
                            <label for="intimidacao">Intimidação</label>
                            <div class="campo-atributo">
                                <select id="intimidacao" name="intimidacao"></select>
                                <span id="teste-intimidacao">0</span>
                            </div>
                
                            <label for="intuicao">Intuição</label>
                            <div class="campo-atributo">
                                <select id="intuicao" name="intuicao"></select>
                                <span id="teste-intuicao">0</span>
                            </div>
                
                            <label for="performance">Performance</label>
                            <div class="campo-atributo">
                                <select id="performance" name="performance"></select>
                                <span id="teste-performance">0</span>
                            </div>
                        </div>
                
                        <div class="coluna">
                            <label for="religiao">Religião</label>
                            <div class="campo-atributo">
                                <select id="religiao" name="religiao"></select>
                                <span id="teste-religiao">0</span>
                            </div>
                
                            <label for="historia">História</label>
                            <div class="campo-atributo">
                                <select id="historia" name="historia"></select>
                                <span id="teste-historia">0</span>
                            </div>
                
                            <label for="tecnologia">Tecnologia</label>
                            <div class="campo-atributo">
                                <select id="tecnologia" name="tecnologia"></select>
                                <span id="teste-tecnologia">0</span>
                            </div>
                
                            <label for="vontade">Vontade</label>
                            <div class="campo-atributo">
                                <select id="vontade" name="vontade"></select>
                                <span id="teste-vontade">0</span>
                            </div>
                        </div>
                
                        <div class="coluna">
                            <label for="exploracao">Exploração</label>
                            <div class="campo-atributo">
                                <select id="exploracao" name="exploracao"></select>
                                <span id="teste-exploracao">0</span>
                            </div>
                
                            <label for="furtividade">Furtividade</label>
                            <div class="campo-atributo">
                                <select id="furtividade" name="furtividade"></select>
                                <span id="teste-furtividade">0</span>
                            </div>
                
                            <label for="percepcao">Percepção</label>
                            <div class="campo-atributo">
                                <select id="percepcao" name="percepcao"></select>
                                <span id="teste-percepcao">0</span>
                            </div>
                
                            <label for="sobrevivencia">Sobrevivência</label>
                            <div class="campo-atributo">
                                <select id="sobrevivencia" name="sobrevivencia"></select>
                                <span id="teste-sobrevivencia">0</span>
                            </div>
                        </div>
                
                        <div class="coluna">
                            <label for="con_mistico">Místico</label>
                            <div class="campo-atributo">
                                <select id="con_mistico" name="con_mistico"></select>
                                <span id="teste-con_mistico">0</span>
                            </div>
                
                            <label for="medicina">Medicina</label>
                            <div class="campo-atributo">
                                <select id="medicina" name="medicina"></select>
                                <span id="teste-medicina">0</span>
                            </div>
                        </div>
                    </div>
                </div>
                 
            </div>  
        </div>
        <div class="content2"> 
            <!-- Seção de Equipamentos -->
            <div class="equipment-section">
                <div class="coluna">
                    <div class="equipment">
                        <table id="equipment">
                            <thead>
                                <tr>
                                    <th><h2>Equipamentos</h2></th>
                                    <th><h2>Dano</h2></th>
                                    <th><h2>Propriedades</h2></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="line_1">
                                    <td id="line_1_col_1">
                                        <div class="equipment">
                                            <div class="campo">
                                                <label for="armamento1">Armamento 1</label>
                                                <select id="armamento1" name="armamento1">
                                                    <% armamentos.forEach((categorias, index) => { %>
                                                        <optgroup id= <%= 'categoria' + index%> label="<%= categorias.categoria %>"> 
                                                            <% categorias.armamentos.forEach(armamento => { %>
                                                        <option value="<%= armamento.id %>"><%= armamento.nome %></option>
                                                        <% }); %>
                                                    <% }); %>
                                                </select>
                                            </div>
                                        </div>
                                    </td> 
                                    <td id="line_1_col_2"style="display: flex;">
                                        <div id="damagebase1" class="damage1">
                                            
                                        </div>
                                        <div id="damage1" class="damage1">
                                            

                                        </div>
                                    </td> 
                                    <td id="line_1_col_3">
                                        <div id="propArmamento1" class="propArmamento">
                                            
                                            
                                        </div>
                                    </td> 
                                </tr>
                                <tr id="line_2">
                                    <td id="line_2_col_1">
                                        <div class="equipment">
                                            <div class="campo">
                                                <label for="armamento2"></label>
                                                <select id="armamento2" name="armamento2">
                                                    <% armamentos.forEach((categorias, index) => { %>
                                                        <optgroup id= <%= 'categoria' + index%> label="<%= categorias.categoria %>"> 
                                                            <% categorias.armamentos.forEach(armamento => { %>
                                                        <option value="<%= armamento.id  %>"><%= armamento.nome %></option>
                                                        <% }); %>
                                                    <% }); %>
                                                </select>
                                            </div>
                                        </div>
                                    </td> 
                                    <td id="line_2_col_2"style="display: flex;">
                                        <div id="damagebase2" class="damage2">
                                            
                                        </div>
                                        <div id="damage2" class="damage2">
                                            

                                        </div>
                                    </td> 
                                    <td id="line_2_col_3">
                                        <div id="propArmamento2" class="propArmamento">
                                            
                                        </div>
                                    </td> 
                                </tr>
                                <tr id="line_3">
                                    <td id="line_3_col_1">
                                        <div class="equipment">
                                            <div class="campo">
                                                <label for="armadura">Armadura</label>
                                                <select id="armadura" name="armadura"> 
                                                    <option value="0">Nenhuma</option>
                                                    <option value="1">Leve</option>
                                                    <option value="2">Média</option>
                                                    <option value="3">Pesada</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>  
                                </tr>
                                <tr id="line_4">
                                    <td id="line_4_col_1">
                                        <div class="equipment">
                                            <div class="campo">
                                                <label for="escudo">Escudo</label>
                                                <select id="escudo" name="escudo">
                                                    <option value="0">Nenhum</option>
                                                    <option value="1">Sim</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>  
                                </tr>
                                <tr id="line_5">
                                    <td id="line_5_col_1">
                                        <div class="equipment">
                                            <div class="campo">
                                                <label for="extra">extra</label>
                                                <select id="extra" name="extra">
                                                    <option value="Nenhum">Nenhum</option>
                                                    <option value="Bolsa">Bolsa</option>
                                                    <option value="Mochila">Mochila</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>  
                                </tr>
                                <tr id="line_6">
                                    <td id="line_6_col_1">
                                        <div class="equipment">
                                            <div class="campo">
                                                <label for="bainha_coldre1">Bainha/Coldre</label>
                                                <select id="bainha_coldre1" name="bainha_coldre1">
                                                    <option value="1">sim</option>
                                                    <option value="0">nao</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td id="line_6_col_2">
                                    </td> 
                                    <td id="line_6_col_3">
                                        <div class="equipment">
                                            <div class="equipment">
                                                <div class="campo">
                                                    <label for="armamento_coldre1">Armamento</label>
                                                    <select id="armamento_coldre1" name="armamento_coldre1">
                                                        <option value="espada">Espada</option>
                                                        <option value="arco">Arco</option>
                                                        <option value="machado">Machado</option>
                                                        <option value="lanca">Lança</option>
                                                        <option value="clava">Clava</option>
                                                        <option value="adaga">Adaga</option>
                                                        <option value="outro">Outro</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> 
                                    </td>
                                </tr>
                                <tr id="line_7">
                                    <td id="line_7_col_1">
                                        <div class="equipment">
                                            <div class="campo">
                                                <label for="bainha_coldre2">Bainha/Coldre</label>
                                                <select id="bainha_coldre2" name="bainha_coldre2">
                                                    <option value="1">sim</option>
                                                    <option value="0">nao</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td id="line_7_col_2">
                                    </td> 
                                    <td id="line_7_col_3">
                                        <div class="equipment">
                                            <div class="equipment">
                                                <div class="campo">
                                                    <label for="armamento_coldre2">Armamento</label>
                                                    <select id="armamento_coldre2" name="armamento_coldre2">
                                                        <option value="espada">Espada</option>
                                                        <option value="arco">Arco</option>
                                                        <option value="machado">Machado</option>
                                                        <option value="lanca">Lança</option>
                                                        <option value="clava">Clava</option>
                                                        <option value="adaga">Adaga</option>
                                                        <option value="outro">Outro</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>
            <div class="inventory-section">
                <h2>Inventário</h2>
                <div style="display: grid; grid-template-columns: repeat(3,1fr);">
                    <div class="campo">
                        <label for="pe">Ouro</label>
                        <input type="text" id="ouro" name="ouro">
                    </div>
                    <div class="campo">
                        <label for="pe">Prata</label>
                        <input type="text" id="prata" name="prata">
                    </div>
                    <div class="campo">
                        <label for="pe">Bronze</label>
                        <input type="text" id="bronze" name="bronze">
                    </div>
                </div>
                <button>Comprar item</button>
                <button>Adicionar kit inicial</button>
                <table>
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                </table>
            </div>    
        </div>
        <!-- Content 3: Propriedades -->
        <div class="content3">
            <div class="habilidades-section">
                <h2>Habilidades de legado</h2>
                <div id="habilidades-legado" class="habilidades-legado">
                    <div class="campo">
                        <label for="habilidade1">Habilidade 1</label>
                    </div>
                    <div class="campo">
                        <label for="habilidade2">Habilidade 2</label>
                    </div>
                    <div class="campo">
                        <label for="habilidade3">Habilidade 3</label>  
                    </div>
                </div>
            </div>
            <div class="container-habilidade">
                <div class="button-section">
                    <button type="submit" onclick="modalHabilidades() "class="submit-btn">Adicionar habilidade</button>
                </div>
                
            </div>
        </div>
        <div class="content4">

        </div>
        <div class="button-section">
            <button type="submit" class="submit-btn">Salvar</button>
        </div>
        <div class="modal" id="modal-habilidades">
            <div class="modal-content">
            <div class="tabs">
                <div class="tab" onclick="showTab('Andarilho')">
                    <img src="img/andarilho.webp" alt="Andarilho" class="tab-icon">
                    <h3>Andarilho</h3>
                </div>
                <div class="tab" onclick="showTab('Combatente')">
                    <img src="img/combatente.webp" alt="Combatente" class="tab-icon">
                    <h3>Combatente</h3>
                </div>
                <div class="tab" onclick="showTab('Devoto')">
                    <img src="img/devoto.webp" alt="Devoto" class="tab-icon">
                    <h3>Devoto</h3>
                </div>
                <div class="tab" onclick="showTab('Feiticeiro')">
                    <img src="img/feiticeiro.webp" alt="Feiticeiro" class="tab-icon">
                    <h3>Feiticeiro</h3>
                </div>
                <div class="tab" onclick="showTab('Ladino')">
                    <img src="img/ladino.webp" alt="Ladino" class="tab-icon">
                    <h3>Ladino</h3>
                </div>
              <button class="close-button">Fechar</button>
            </div>
            
          </div>    
        </div>
    </div>

    <script src="legados.js"></script>
    <script src="atributos.js"></script>
    <script src="armamentos.js"></script>
    <script src="habilidades.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>